<br>
<br>
<div class="container">
      <div class="row">
         <div class="col-md-4">
         	<div class="image_size">
         		<% if @user.avatar.nil? || @user.avatar.empty? %>
         			<% if @user.gender == 0 %>
         				<%= image_tag "female.png" %>
         			<% else %>
         				<%= image_tag "male.png" %>
         			<% end %>
         		<% else %>
         			<%= image_tag @user.avatar %>
         		<% end %>
         	</div>
         </div>
         <div class="col-md-4">
         	<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <label>Email:  <%= @user.email %></label>
            <br>
            <label>User Name:  <%= @user.name %></label>
            <br>
            <label>Gender:  
               <% if @user.gender == 0 %>
                  Female
               <% else %>
                  Male
               <% end %>
            </label>
            <br>
            
            <br>
         </div>
      </div>
</div>